<div class="car-social">
    <p>@AH.GetDictionaryText("Careers:PostsShareBarHeader")</p>
    <ul>
        <li>
            <a href="https://www.facebook.com/AllinaHealthCareers" class="facebook-share">
                <img src="@string.Format("//{0}/content/images/common/png/social-facebook.png", AH.WellclicksHostName)" alt="Facebook logo" />
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/company/allina-health" class="linkedin-share" target="_blank">
                <img src="@string.Format("//{0}/content/images/common/png/social-linkedin.png", AH.WellclicksHostName)" alt="Linkedin logo" />
            </a>
        </li>
        <li>
            <a href="https://twitter.com/allinacareers" class="twitter-share">
                <img src="@string.Format("//{0}/content/images/common/png/social-twitter.png", AH.WellclicksHostName)" alt="Twitter logo" />
            </a>
        </li>
        <li>
            <a href="https://www.glassdoor.com/Overview/Working-at-Allina-Health-EI_IE2822.11,24.htm" class="glassdoor-share">
                <img src="@string.Format("//{0}/content/images/common/png/social-glassdoor.png", AH.WellclicksHostName)" alt="Glassdoor logo" />
            </a>
        </li>
    </ul>
</div>