<div class="fma-ctas fullbleed">
    <h3>@AH.GetDictionaryText("HSG:FooterHeader")</h3>
    <hr />
    <p>@AH.GetDictionaryText("HSG:FooterBodyParagraph")</p>
    <a href="@AH.GetDictionaryText("HSG:FooterLinkURL")" class="btn" title="@AH.GetDictionaryText("HSG:FooterLinkText")" id="@AH.GetDictionaryText("HSG:FooterLinkText").Replace(" ","_")_Button">@AH.GetDictionaryText("HSG:FooterLinkText")</a>
</div>